@import 'tailwindcss';

@import './_Imports.Theme.css';
@import './_Imports.Utilities.css';

@import './_Imports.Button.css';
@import './_Imports.Forms.css';
@import './_Imports.Icon.css';

* {
    @apply antialiased;
    scrollbar-width: thin;
}

html {
    @apply bg-none bg-transparent z-0;
}

body {
    @apply bg-transparent font-normal font-sans leading-normal text-base text-gray-300 tracking-normal z-0;
    @apply grid grid-flow-row max-h-dvh max-w-screen min-h-dvh;
}

hr {
    @apply bg-accent/20 border-gray-300/15 border-t-2 rounded-sm shadow-2xs;
}